<div class="bg-black h-full w-full text-white overflow-hidden">
  <div class="h-full w-full flex place-content-center p-[25px]">
    <div class="flex flex-col space-y-[25px] h-full">
      <div class="grid place-content-center w-full h-full text-center">
        <h1 class="text-[75px]">
          Welcome to
          <a class="text-blue-500" href="https://github.com/Azerothwav/LuaW"
            >LuaW</a
          >
        </h1>
        <h2 class="text-[25px] text-white/70">
          This page is rendered by LuaW server with tailwind
        </h2>
      </div>
      <div class="grow"></div>
      <div class="w-full flex place-content-center">
        <h1>
          Propulsed by
          <a class="text-blue-500" href="https://github.com/Azerothwav/LuaW"
            >LuaW</a
          >
        </h1>
      </div>
    </div>
  </div>
</div>
